body{
    padding: 0;
    margin: 0;
    background-color: white;
}

.navigasi{
    background-color: #235088;
    width: 10%;
    height: 100vh;

}

h1{
    text-align: center;
    position: relative;
    left: 100%;
}

table{
    text-align: center;
    position: relative;
    left: 100%;
}