.container-kotak {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px auto;
  padding: 15px;
  max-width: 1000px;
  height: 100%; /* Menyesuaikan tinggi container dengan kontennya */
}

.image-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 50%; /* Adjust for smaller screens */
  height: auto;
  border-radius: 8px;
}

.content {
  flex: 2;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  word-wrap: break-word; /*digunakan untuk text dapat kebawah */
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
}

.datetime {
  font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .image {
    max-height: 200px; /* Adjust for smaller screens */
    max-width: 100%;
  }
}