body{
    font-family:"Open Sans", sans-serif;
}


.notifikasi-1 {
    background-color: #ff0000; /* Warna merah */
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 1%; /* Mengatur jarak dari atas ke 0 */
    right: 38%; /* Mengatur jarak dari kanan ke 0 */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .notifikasi-2 {
        background-color: #ff0000; /* Warna merah */
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: absolute;
        top: 1%; /* Mengatur jarak dari atas ke 0 */
        right: 41%; /* Mengatur jarak dari kanan ke 0 */
        border-radius: 5px;
        }
        
               
@media (max-width: 768px) {
            .notifikasi {
                font-size: 15px;
                display: flex;
                text-align: center;
                position: absolute;
                margin-left: 5px;
                 
    }
}



/* #############  image ############# */

img{
    width: 60%;
    margin-left: 18%;
}

